* {
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  margin: 0;
}

.cell {
  background-color: rgba(139, 195, 74, 1);
  outline: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .cell:nth-child(1n + 18) {
  background-color: rgba(139, 195, 74, 0.9);
} */

.cell:not(.revealed):hover {
  background-color: lightgreen;
}

.cell.revealed {
  background-color: burlywood;
}

.cell.flagged {
  background-image: url("//www.google.com/logos/fnbx/minesweeper/flag_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell.bomb {
  background-color: red;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.151);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 50vw;
  height: 25vh;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.dialog button {
  outline: none;
  border: 1px solid rgb(66, 164, 197);
  border-radius: 3px;
  padding: 1% 4%;
  background-color: initial;
  color: rgb(66, 164, 197);
  font-size: 1.1rem;
  cursor: pointer;
}
.dialog button:hover {
  background-color: rgb(66, 164, 197);
  color: black;
}
